body {
  background-color:antiquewhite;
  background-image: url('../public/assets/images/03-light-carpet.png');
}

body.dark {
  background-color: #282c34;
  background-image: none;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navbar-logo {
  width: 80px;
}

@media screen and (min-width: 800px) {
  .actions-column {
    white-space: nowrap;
  }
  .actions-column button {
    margin-right: 5px;
  }
}

@media screen and (max-width: 675px) {
  .navbar-logo {
    width: 50px;
  }
}

/* new styles for answer options in QuizEnv */
.answer-option {
  display: flex;
  align-items: center;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 10px;
  transition: background-color 0.3s;
}

.answer-option:hover {
  background-color: #f0f0f0;
}

.answer-option:hover .mode-dark {
  color: grey;
}

.answer-option.selected {
  background-color: #d4edda;
  border-color: #28a745;
}

.answer-option.selected .mode-dark {
  /* background-color: #d4edda;
  border-color: #28a745; */
  color: black;
}

@media print {
  .feedback-section {
    page-break-inside: avoid;
  }
}

.active {
  color: white !important;
}

.rounded-lg-up-card {
  border-radius: 0 !important;
}

@media (min-width: 992px) { 
  .rounded-lg-up {
    border-radius: .25rem; 
  }

  .rounded-lg-up-card {
    border-radius: 0.35rem !important;
  }
}